/* start main ruelz */

body {
    background-color: #F4F4F4;
    font-size: 16px;
}

h1 {
    font-size: 55px;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
}


/* end main rulez */


/* Start Bootstrap Edits */

.nav>li>a,
.navbar-brand {
    padding: 15px 12px
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 1em;
}


/* End Bootstrap Edits */


/* Start Header */

.upper-bar {
    padding: 10px;
    background-color: #FFF;
}


/* End Header */


/* Start Login Page*/

.login-page form {
    max-width: 380px;
    margin: auto;
}

.login-page form input {
    margin-bottom: 10px;
}

.login-page [data-class="login"].selected {
    color: #337AB7;
}

.login-page [data-class="signup"].selected {
    color: #5bc85c;
}

.login-page h1 {
    color: #C0C0C0;
}

.login-page h1 span {
    cursor: pointer;
}

.login-page .signup {
    display: none;
}


/* End Login Page*/


/* Start categories page*/

.item-box {
    position: relative;
}

.item-box .price-tag {
    background-color: #B4B4B4;
    padding: 2px 10px;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: bold;
    color: #FFF;
}


/* End categories page*/