/* start main ruelz */

body {
    background-color: #F4F4F4;
    font-size: 16px;
}


/* end main rulez */


/*   start form login */

.login {
    width: 300px;
    margin: 100px auto;
}

.login h4 {
    color: #888;
}

.login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color: #EAEAEA;
}

.login .btn {
    background-color: #008dde;
}


/* end form login */


/* Start Bootstrap Edits */

.nav>li>a,
.navbar-brand {
    padding: 15px 12px
}

.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-brand {
    font-size: 1em;
}


/* End Bootstrap Edits */


/* Start Dashboard Page */

.home-stats .stat {
    padding: 20px;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.home-stats .stat i {
    position: absolute;
    font-size: 80px;
    top: 35px;
    left: 30px;
}

.home-stats .stat .info {
    float: right;
}

.home-stats .stat a {
    color: #fff;
    text-decoration: none;
}

.home-stats .stat span {
    display: block;
    font-size: 60px;
}

.home-stats .st-members {
    background-color: #3498db;
}

.home-stats .st-pending {
    background-color: #c0392b;
}

.home-stats .st-items {
    background-color: #d35400;
}

.home-stats .st-comments {
    background-color: #8e44ad;
}

.latest {
    margin-top: 30px;
}

.latest-users {
    margin-bottom: 0;
}

.latest-users li {
    padding: 8px 0;
    overflow: hidden;
}

.latest-users li:nth-child(odd) {
    background-color: #eee;
}

.latest-users .btn-success .latest-users .btn-info {
    padding: 0px 8px;
}

.latest-users .btn-info {
    margin-right: 5px;
}

.latest .comment-box {
    margin: 5px 0 10px;
}

.latest .comment-box .member-n,
.latest .comment-box .member-c {
    float: left;
}

.latest .comment-box .member-n {
    width: 80px;
    text-align: center;
    margin-right: 20px;
    position: relative;
    top: 10px;
}

.latest .comment-box .member-c {
    width: calc(100% - 100px);
    background-color: #EFEFEF;
    padding: 10px;
    position: relative;
}

.latest .comment-box .member-c:before {
    content: "";
    display: block;
    position: absolute;
    left: -28px;
    top: 5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent #EFEFEF transparent transparent;
    border-width: 15px;
}


/* End Dashboard Page */


/* start Members page */

h1 {
    font-size: 64px;
    margin: 40px 0;
    font-weight: bold;
    color: #666;
}

.show-pass {
    position: absolute;
    right: 750px;
}

.main-table {
    box-shadow: 0px 3px 10px #ccc;
}

.main-table td {
    background-color: #fff;
    vertical-align: middle;
}

.main-table tr:first-child td {
    background-color: #333;
    color: #fff;
}

.main-table .btn {
    padding: 3px 10px;
}

.activate {
    margin-left: 5px;
}


/* End member page /*

/* Start Category Page */

.categories .cart-body {
    padding: 0;
}

.categories .ordering a {
    color: #888;
    text-decoration: none;
}

.categories .ordering .active {
    color: #f00;
    font-weight: bold;
}

.categories hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.categories .cat {
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.categories .cat:hover .hidden-buttons {
    right: 10px;
}

.categories .cat .hidden-buttons {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    top: 15px;
    right: -180px;
}

.categories .cat .hidden-buttons a {
    margin-right: 5px;
}

.categories .cat h3 {
    margin: 0 0 10px;
    font-weight: bold;
    color: #6A6A6A;
}

.categories .cat p {
    margin: 10px 0px;
    color: #707070;
}

.categories .cat:last-of-type~hr {
    display: none;
}

.categories .cat .visibility {
    background-color: #d35400;
    color: #fff;
    padding: 4px 6px;
    margin-right: 6PX;
    border-radius: 6px;
}

.categories .cat .commenting {
    background-color: #2c3e50;
    color: #fff;
    padding: 4px 6px;
    margin-right: 6PX;
    border-radius: 6px;
}

.categories .cat .advertises {
    background-color: #c0392b;
    color: #fff;
    padding: 4px 6px;
    margin-right: 6PX;
    border-radius: 6px;
}

.categories .add-category {
    margin-bottom: 30px;
    margin-top: 10px;
}


/* End Category Page */